# Ignore all compiled object files
*.o

# Ignore all binary executable files
*.bin

# Ignore all the zip files
*.zip

#Ignore all the .elf files
*.elf

#Ignore all the .log files
*.log

#Ignore all the .iso files
*.iso

#Ignore the iso folder
iso/

#Ignore the .vscode folder
.vscode/